<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/input.css">
    <link rel="stylesheet" href="./css/output.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <header class="header fixed w-full border-b z-50 py-2 bg-white">
        <!-- Header containerNinish -->
        <div class="containerNinish mx-auto px-2 flex justify-between items-center">
            <!-- Ham Button -->
            <div class="hamBtn block md:hidden hide cursor-pointer">
                <i class="bx bx-menu"></i>
            </div>
            <!-- Brand Logo -->

            <a href="./index.html" class="logo">
                <img src="./img/logo.png" alt="Ninish Logo" />
            </a>

            <!-- Navigation Links For Desktop -->
            <nav class="hidden md:block desktopNavLinks">
                <ul class="flex gap-2">
                    <li>
                        <a href="./vReg.html">Verify Registration</a>
                    </li>
                    <li>
                        <a href="./dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="./admdashboard.html">Admin Dashboard</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Navigation Links For Mobile -->
    <nav class="fixed h-full w-full top-20 bg-white hidden mobileNavLinks z-50 border-t">
        <ul class="containerNinish mx-auto px-2">
            <li>
                <a href="./vReg.html">Verify Registration</a>
            </li>
            <li>
                <a href="./dashboard.html">Dashboard</a>
            </li>
            <li>
                <a href="./admdashboard.html">Admin Dashboard</a>
            </li>
        </ul>
    </nav>

    <main class="py-16 px-2">
        <!-- Announcement -->
        <!-- Login -->
        <section class="containerNinish mx-auto px-2 pt-20">
            <div class="flex flex-col-reverse md:flex-row items-center gap-4">
                <div class="w-full text-gray-900 text-center md:text-start mt-8 md:mt-0">
                    <form method="post" id="login-form">
                        <!-- {% csrf_token %}  -->
                        <!-- Label -->
                        <label for="otp" class="cursor-pointer text-4xl font-semibold mb-4 block">Log in to your account</label>
                        <!-- {% if error %}
                        <p style="color: red;">Wrong OTP. Try Again</p>
                        {% endif %} -->
                        <!-- Input -->
                        <div class="notification">
                            <p class="text-white text-center font-semibold bg-red-700 py-2 my-4 rounded-md">The number provided is not recognized. Are you new? <a class="text-white underline" href="">Create new account</a></p>
                        </div>
                            <div>
                            <label for="phone" class="font-semibold">Enter Your Number</label>
                            <!-- Input -->
                            <div class="flex mt-2">
                                <div
                                    class="flex items-center px-2 bg-slate-800 border border-r-0 border-slate-300 rounded-l-md">
                                    <span class="mt-1 text-slate-200"> +88 </span>
                                </div>
                                <!-- Input Container -->
                                <div class="w-full">
                                    <input type="number" id="phone" name="phone" placeholder="01XXXXXXXXX"
                                        class="py-1 rounded-r-md bg-slate-50 border border-gray-300 px-2 text-lg w-full"
                                        required />
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <label for="dob" class="font-semibold">Enter Your Birth Date</label>
                            <!-- Input -->
                            <div>
                                <!-- Input Container -->
                                <div class="w-full">
                                    <input type="date" id="dob" name="dob"
                                        class="py-1 rounded-md bg-slate-50 border border-gray-300 px-2 text-lg w-full"
                                        required />
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="mt-4">
                            <button type="submit" class="btn" id="login-btn" disabled>
                                Login <i class='bx bx-block'></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="w-3/4">
                    <img src="./img/reg-banner.png" alt="Registration Banner">
                </div>
            </div>

        </section>
    </main>

    <!-- Footer -->
    <footer class="containerNinish mx-auto px-2 text-center">
        <p class="py-2">Call us:
            <a href="tel:01644042241" class="contactInfo"> 01644042241</a>,
            <a href="tel:01722842564" class="contactInfo"> 01722842564</a>,
            <a href="tel:01952863855" class="contactInfo"> 01952863855</a>
            <span>(10AM - 8PM)</span>
        </p>
        <p class="border-t py-2">
            &copy; All rights reserved by Ninish
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./js/nav.js"></script>
    <script>
        const submitBtnVisibility = (num) => {
            let rex = /^(01[3-9]\d{8})$/;
            if (rex.test(num)) {
                $("#login-btn").removeAttr("disabled");
                $("#login-btn").html(`Login <i class='bx bx-check'></i>`);
            }
            else {
                $("#login-btn").attr("disabled", true);
                $("#login-btn").html(`Login <i class='bx bx-block'></i>`);
            }
        };
        document.querySelector("#phone").addEventListener("input",(e) => {
            submitBtnVisibility(e.target.value);
        })
        $("#login-form").submit(e => {
            e.preventDefault();
            $("#login-btn").attr("disabled", true);
            $("#login-btn").html(
            `Please wait <i class='bx bx-loader-alt animate-spin'></i>`
            );
            e.target.submit()
        })

    </script>
</body>

</html>